@import url("//fonts.googleapis.com/css?family=Press+Start+2P");
@keyframes blink {
	20% {
		color: currentColor;
	}
	50% {
		color: transparent;
	}
	80% {
		color: currentColor;
	}
}
/*~~~~~~ body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
	display: grid;
	min-height: 100vh;
	background-color: #000;
	color: #fff;
	font-family: "Press Start 2P", monospace;
}
/*~~~~~~ body > main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body > main {
	align-self: center;
	justify-self: center;
	display: grid;
}
body > main > h1 {
	min-height: 5rem;
	padding: 0 2rem;
	color: transparent;
	font-size: 4rem;
	font-variant-caps: small-caps;
	text-align: center;
	text-shadow: .2rem .2rem #fff, -.2rem -.2rem #f00;
}
body > main > h2 {
	padding: 0 2rem;
	background-color: rgba(255, 255, 255, .4);
	text-align: center;
	text-transform: uppercase;
	box-shadow: inset 0 0 0 .1rem #fff, 0 0 0 .1rem #fff;
	animation: blink 4s linear infinite;
}
body > main > ul {
	padding: 0 2rem;
	justify-self: center;
}
body > main > ul > li {
	width: auto;
	transform: none;
}
body > main > ul > li::before {
	content: none;
}
body > main > ul > li > p {
	margin: 2rem;
}
body > main > ul > li > p > a:not([download])[href] {
	position: relative;
	display: block;
	text-align: left;
}
body > main > ul > li > p > a:not([download])[href]:hover,
body > main > ul > li > p > a:not([download])[href]:focus {
	outline: 0;
	outline-offset: 0;
	text-decoration: none;
}
body > main > ul > li > p > a:not([download])[href]::before,
body > main > ul > li > p > a:not([download])[href]::after {
	position: absolute;
	top: 50%;
	width: 4rem;
	color: #f00;
	text-align: center;
	opacity: 0;
	transition: opacity .4s;
}
body > main > ul > li > p > a:not([download])[href]::before {
	content: ">>";
	right: 100%;
	transform: translate(-50%, -50%);
}
body > main > ul > li > p > a:not([download])[href]::after {
	content: "<<";
	left: 100%;
	transform: translate(50%, -50%);
}
body > main > ul > li > p > a:not([download])[href]:hover::before,
body > main > ul > li > p > a:not([download])[href]:focus::before,
body > main > ul > li > p > a:not([download])[href]:hover::after,
body > main > ul > li > p > a:not([download])[href]:focus::after {
	opacity: 1;
}
/*~~~~~~ body > picture ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body > picture {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	margin: 2rem;
	padding: 0 2rem;
	filter: opacity(40%) blur(.4rem);
	-moz-user-select: none;
	user-select: none;
}
body > picture > img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: scale-down;
	object-position: center;
}
