@import url("./reset.css");
@font-face {
	font-family: "Press Start 2P";
	font-style: normal;
	font-weight: normal;
	src: local("Press Start 2P Regular"), local("PressStart2P-Regular"), url("./fonts/press-start-2p.woff2") format("woff2"), url("./fonts/press-start-2p.woff") format("woff");
}
@keyframes blink {
	20% {
		color: currentColor;
	}
	50% {
		color: transparent;
	}
	80% {
		color: currentColor;
	}
}
/*~~~~~~ body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
	display: grid;
	min-height: 100vh;
	background-color: #000;
	color: #fff;
	font-family: "Press Start 2P", monospace;
}
body::after {
	content: "";
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	width: 768px;
	height: 768px;
	max-width: calc(150% - 6rem);
	max-height: calc(150% - 6rem);
	background: url("./background.png") center / contain no-repeat;
	transform: translate(-50%, -50%);
}
/*~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
	place-self: center;
	margin: -2rem 0;
	padding: 0 2rem;
}
main > h1 {
	min-height: 5rem;
	margin: 4rem 0;
	padding: 0 2rem;
	color: transparent;
	font-size: 4rem;
	font-variant-caps: small-caps;
	text-align: center;
	text-shadow: .2rem .2rem #fff, -.2rem -.2rem #f00;
}
main > h2 {
	margin: 4rem 0;
	padding: 0 2rem;
	background-color: #fff6;
	text-align: center;
	text-transform: uppercase;
	box-shadow: inset 0 0 0 .1rem #fff, 0 0 0 .1rem #fff;
	animation: blink 4s linear infinite;
}
main > ul {
	width: intrinsic;
	width: max-content;
	margin: 4rem auto;
	pointer-events: none;
}
main > ul > li {
	margin: 0;
	padding: 0 2rem;
}
main > ul > li::before {
	content: none;
}
main > ul > li > p {
	margin: 2rem 0;
}
main > ul > li > p > a:not([download]) {
	position: relative;
	display: inline-block;
	width: calc(100% + 2rem);
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	width: stretch;
	margin: -1rem;
	padding: 1rem;
	pointer-events: auto;
}
main > ul > li > p > a:not([download]):hover,
main > ul > li > p > a:not([download]):focus-within {
	outline: 0;
	outline-offset: 0;
	text-decoration: none;
}
main > ul > li > p > a:not([download])::before,
main > ul > li > p > a:not([download])::after {
	position: absolute;
	top: 50%;
	color: #f00;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity .4s;
}
main > ul > li > p > a:not([download])::before {
	content: ">>";
	right: 100%;
	transform: translate(-1rem, -50%);
}
main > ul > li > p > a:not([download])::after {
	content: "<<";
	left: 100%;
	transform: translate(1rem, -50%);
}
main > ul > li > p > a:not([download]):hover::before,
main > ul:not(:hover) > li > p > a:not([download]):focus-within::before,
main > ul > li > p > a:not([download]):hover::after,
main > ul:not(:hover) > li > p > a:not([download]):focus-within::after {
	opacity: 1;
}
