/*~~~~~~ * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
::before,
::after {
	box-sizing: border-box;
	vertical-align: top;
	outline: 0;
	line-height: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-decoration: inherit;
}
::-moz-selection {
	background-color: rgba(255, 204, 51, .5);
	color: #333;
}
::selection {
	background-color: rgba(255, 204, 51, .5);
	color: #333;
}
::-moz-focus-inner {
	border: 0;
}
/*~~~~~~ html, body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	/*padding: 0;*/
	font-size: .625em; /*1rem*/
}
body {
	margin: 0;
	line-height: 1.25;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6em; /*1.6rem*/
}
/*~~~~~~ h1, h2, h3, h4, h5, h6, p, dl, ol, ul ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul {
	margin: 2rem;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	min-height: 4rem;
}
h1 {
	font-size: 3.2rem;
}
h2 {
	line-height: 1.3889;
	font-size: 2.88rem;
}
h3 {
	line-height: 1.5625;
	font-size: 2.56rem;
}
h4 {
	line-height: 1.7857;
	font-size: 2.24rem;
}
h5 {
	line-height: 2.0833;
	font-size: 1.92rem;
}
h6 {
	line-height: 2.5;
	font-size: 1.6rem;
}
p,
dl,
ol,
ul {
	min-height: 2rem;
	text-align: justify;
}
ol {
	counter-reset: ol;
	list-style: none;
}
ul {
	list-style: none;
}
dl > dt,
dl > dd,
ol > li,
ul > li {
	display: block;
	min-height: 2rem;
	margin: 0;
	padding: 0;
}
dl > dd,
ol > li,
ul > li {
	width: calc(100% - 4rem);
	transform: translate(4rem);
}
dl > dd::before,
dl > dd::after,
ol > li::before,
ul > li::before {
	float: left;
	transform: translate(-4rem);
}
dl > dd::before {
	content: "";
	width: .8rem;
	margin: .9rem -2.4rem .9rem 1.6rem;
	border-bottom: .2rem solid currentColor;
}
ol > li::before {
	counter-increment: ol;
	content: "." counter(ol);
	width: .8rem;
	margin: 0 -2.4rem 0 1.6rem;
	direction: rtl;
}
ul > li::before {
	content: "";
	width: .8rem;
	height: .8rem;
	margin: .6rem -2.4rem .6rem 1.6rem;
	border: .4rem solid currentColor;
	border-radius: .4rem;
}
ul > li > ul > li::before {
	border-width: .1rem;
}
ul > li > ul > li > ul > li::before {
	border-width: .4rem;
	border-radius: 0;
}
ul > li > ul > li > ul > li > ul > li::before {
	border-width: .1rem;
}
ul > li > ul > li > ul > li > ul > li > ul > li::before {
	border-width: .4rem 0 .4rem .8rem;
	border-color: transparent transparent transparent currentColor;
}
dl > dd > p,
dl > dd > dl,
dl > dd > ol,
dl > dd > ul,
ol > li > p,
ol > li > dl,
ol > li > ol,
ol > li > ul,
ul > li > p,
ul > li > dl,
ul > li > ol,
ul > li > ul {
	margin: 0;
}
/*~~~~~~ sub, sup ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
sub,
sup {
	font-size: 1.2rem;
}
sub {
	vertical-align: bottom;
}
sup {
	vertical-align: top;
}
/*~~~~~~ del, ins, mark ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
del {
	background-color: #fcc;
	text-decoration: line-through;
}
ins {
	background-color: #6c9;
	text-decoration: underline;
}
mark {
	background-color: #ff9;
}
/*~~~~~~ abbr, code, kbd ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
abbr[title] {
	cursor: help;
}
code {
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
:not(pre) > code {
	padding: 0 .4rem;
	border-radius: .4rem;
	background-color: #eee;
}
kbd {
	padding: 0 .4rem;
	background-color: #eee;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	box-shadow: inset 0 0 0 .1rem #333, inset 0 0 0 .2rem #fff;
}
/*~~~~~~ a:not([download])[href] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a:not([download])[href] {
	cursor: pointer;
}
a:not([download])[href]:hover,
a:not([download])[href]:focus {
	text-decoration: underline;
}
a:not([download])[href]:focus {
	outline: .05rem dashed rgba(0, 0, 0, .5);
	outline-offset: -.05rem;
}
