@import url("../reset.css");
@font-face {
	font-family: "Press Start 2P";
	font-style: normal;
	font-weight: bold;
	src: local("Press Start 2P Regular"), local("PressStart2P-Regular"), url("../fonts/press-start-2p.woff2") format("woff2"), url("../fonts/press-start-2p.woff") format("woff");
}
/*~~~~~~ body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
	display: grid;
	min-height: 100vh;
	background-color: #000;
	color: #fff;
	font-family: "Press Start 2P", monospace;
}
body::after {
	content: "";
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	width: 768px;
	height: 768px;
	max-width: calc(150% - 6rem);
	max-height: calc(150% - 6rem);
	background: url("../background.png") center / contain no-repeat;
	transform: translate(-50%, -50%);
}
/*~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
	place-self: center;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%;
	display: grid;
	width: 100%;
	height: 100%;
}
main > p {
	display: grid;
	place-items: center;
	box-shadow: -.8rem -.8rem currentColor;
	transform: translate(.4rem, .4rem);
}
