@import url("../reset.css");
@font-face {
	font-family: "Press Start 2P";
	font-style: normal;
	font-weight: bold;
	src: local("Press Start 2P Regular"), local("PressStart2P-Regular"), url("../fonts/press-start-2p.woff2") format("woff2"), url("../fonts/press-start-2p.woff") format("woff");
}
/*~~~~~~ html, body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	height: 100%;
}
body {
	overflow: hidden auto;
	display: grid;
	min-height: 100%;
	background-color: #000;
	color: #fff;
	font-family: "Press Start 2P", monospace;
}
body::after {
	content: "";
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	width: 768px;
	height: 768px;
	max-width: calc(150% - 6rem);
	max-height: calc(150% - 6rem);
	background: url("../background.png") center / contain no-repeat;
	transform: translate(-50%, -50%);
}
/*~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
	display: grid;
}
main > p {
	place-items: center;
	display: grid;
	margin: 3rem 1rem 1rem 3rem;
	padding: 2rem;
	box-shadow: -2rem -2rem currentColor;
}
/*~~~~~~ @media ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width: 27.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 55em) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
